<header class="pb-3 mb-4 border-bottom" th:fragment="header">
  <div class="px-3 py-2 text-white">
    <div class="container">
      <div
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-center justify-content-lg-start
        "
      >
        <a
          href="/"
          class="
            d-flex
            align-items-center
            my-2 my-lg-0
            me-lg-auto
            text-white text-decoration-none
          "
        >
          <img
            src="/img/nerd.png"
            class="float-left"
            style="height: 70px; width: auto"
          />
          <span class="p-3 fs-5">WololoMovies</span>
        </a>

        <ul
          class="
            nav
            col-12 col-lg-auto
            my-2
            justify-content-center
            align-items-center
            my-md-0
            text-small
          "
        >
          <li>
            <a href="/" class="nav-link fs-4 text-white">
              <img
                src="/img/page-daccueil.png"
                style="height: 22px; width: auto"
              />
              Home
            </a>
          </li>
          <li>
            <a href="/listFilms" class="nav-link fs-4 text-white">
              <img
                src="/img/camera-video.png"
                style="height: 22px; width: auto"
              />
              Films
            </a>
          </li>
          <li>
            <a href="#" class="nav-link fs-4 text-white">
              <img src="/img/user.png" style="height: 22px; width: auto" />
              Mon compte
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img
      src="/img/nerd.png"
      class="float-left"
      style="height: 150px; width: auto"
    />
    <span class="fs-4 ml-5">Films</span>
  </a> -->
</header>
