body {
  background-color: #212529 !important;
  color: white !important;
  animation: fadeIn 0.2;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .body__main {
  max-width: 80%;
  background-color: #383c41;
} */
