<head th:replace="layout/head :: head">
  <title id="pageTitle">Detail</title>
</head>

<body >
<div class="container body__main mh-80">
      <div th:replace="layout/header :: header">...</div>
	
	
	
	  <div class="row">
	  	<div class="col-sm"></div>
	  	<article class="col-lg">
	  	
	  		<h1 th:text="${film.titre}"></h1>
	  		
	  		<p th:text="${film.realisateur.nom}"></p>
	  		
	  		<p th:text="${film.genre.libelle}"></p>
	  		
	  		<p th:text="${film.annee}"></p>
	  		
	  		<p th:text="${film.synopsis}"></p>
	  		
	  		<p th:text="${film.duree}"></p>
	  	
	  	</article>
	  </div>
	  
	
      <div th:replace="layout/footer :: footer">...</div>
</div>
</body>
</html>