<head th:replace="layout/head :: head">
  <title id="pageTitle">Liste des films</title>
</head>

<body >
<div class="container body__main mh-80">
      <div th:replace="layout/header :: header">...</div>
      <div class="row">
        <div class="col-md-3"><h3>Titre</h3></div>
        <div class="col-md-3"><h3>Année sortie</h3></div>
        <div class="col-md-3"><h3>Réalisateur</h3></div>
        <div class="col-md-3"><h3>Acteurs</h3></div>


      </div>
      <div th:each="film : ${films}" class="row">
        <a th:utext="${film.titre}" class="col-md-3" th:href="@{/film/{id}(id=${film.id})}"></a>
        <div th:utext="${film.annee}" class="col-md-3"></div>
        <div th:utext="${film.realisateur.nom}" class="col-md-3"></div>
        <div class="col-md-3">
            <div th:each="acteur : ${film.listActeurs}">
              <p th:utext="${acteur.nom}"></p>
            </div>
        </div>
 

      </div>

      <div th:replace="layout/footer :: footer">...</div>
    </div>
</body>
</html>